[Desktop Entry]
Name=HD RAM CPU Alarm
Comment=Monitor CPU, RAM, Disk and Temperature
Exec=/usr/local/bin/HD_RAM_CPU_Alarm
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=monitor;cpu;ram;disk;temperature;
StartupNotify=true
